html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: @black;
    font-size: 13px;
}
.menu-1, .menu-2, .menu-3 {
    padding: 5px 0 5px;
    width: 100%;
    em{
        font-size: 12px;
    }
    .item {
        padding: 5px;
        text-align: center;
        a:hover{
            text-decoration: none;
        }
    }
}
.menu-1{
    background-color: @black;
    font-size: 15px;
    a{
        color: @white;
    }
}
.menu-2{
    background-color: @gray-dark;
    a{
        color: @white;
    }
    .item{
        padding: 5px 20px 5px;
    }
    .item:nth-child(even) {
        text-align: left;
    }
    .item:nth-child(odd) {
        text-align: right;
    }
}
.menu-3{
    background-color: @gray-light;
    a{
        color: @black;
    }
}