html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    color: @black;
}
.menu-1 {
    background: @black;
    padding: 5px 0 5px;
    width: 100%;
    em{
        font-size: 12px;
    }
    .item {
        padding: 5px;
        text-align: center;
        a{
            color: @white;
        }
    }
}